
<h1 class="head">Education</h1><br>
<div class="container d-flex" style="padding-top: 10px;">
<h5>B.Tech</h5>
<p>(2018-2022)<br>
Computer Science<br>
Viswajyothi college of engineering and technology<br>
CGPA : 8.3/10
<p>
</div>
<div class="container d-flex" style="padding-top: 10px;">
    <h5>12th</h5>
<p>(2017-2018)<br>
Computer Science<br>
Mar Basil HSS, Kothamangalam<br>
Percentage : 88%
<p>
</div>
    <div class="container d-flex" style="padding-top: 10px;">
    <h5>10th</h5>
    <p>(2015-2016)<br>
    Science<br>
    St.Augustine's GHSS, Kothamangalam<br>
    Percentage : 98%
    <p>
    </div>