
<div class="container d-flex" style="padding-top: 120px;">
    <div>
        <img src="../assets/Arsha_img.jpeg" alt="my image"/>
    </div>
    <div class="right">
        <h1 class="hi">Hi,</h1>    
<h2>My name is Arsha S.</h2> <h4>I am a software engineer.<br></h4>
<h6>I'm a B.tech graduate, currently working as associate software engineer at Experion technologies.<br>
I've done an internship on Machine learning and Computer vision algorithm.<br>
Apart from coding I'm actively engaged in extracurricular activities like singing,dancing and painting.<br></h6>
</div>
</div>