<h1 class="head">Projects</h1>
<!-- <div class="container d-flex" style="padding-top: 10px;"> -->
<h5 class="agro">AGROKART</h5>
<p class="content">Farmer stock trading application isspecially designed for farmers, sellers, and retailers. This application make end to end relationship
    between a farmer and retailer without a mediator to sell their goods.</p>
<!-- </div> -->
<button class="btn btn-dark" style="margin: 10px;">HTML</button>
<button class="btn btn-dark" style="margin: 10px;">CSS</button>
<button class="btn btn-dark" style="margin: 10px;">PHP</button>
<button class="btn btn-dark" style="margin: 10px;">JS</button><br>
<br><br>
<h5 class="boot">BOOTCART</h5>
<p class="content">Online shopping cart for shoes where product masters can add their product and customers can buy it online.</p>
<button class="btn btn-dark" style="margin: 10px;">.NET</button>
<!-- <button class="btn btn-dark" style="margin: 10px;">C#</button> -->
<button class="btn btn-dark" style="margin: 10px;">Angular</button>