
  <!-- <img src="../assets/Arsha_img.jpeg" alt="my image"/> -->

<div class="wrapper clearfix">
  <div class="left">

    <div class="name-hero">

      <div class="me-img"></div>

      <div class="name-text">
        <img src="../assets/Arsha_img.jpeg" alt="my image" style="height: 200px; width: 200px; margin-top: -250px;margin-left: 40px;"/>
        <h1>Arsha S</h1>
        <h6>Palakkattuputhenpurayil(H)</h6>
        <h6>Kozhippilly PO, Kothamangalam</h6>
        <h6>PIN : 686691</h6>

      </div>

    </div>

  </div>
  <!-- <img src="../assets/Arsha_img.jpeg" alt="my image"/> -->
  <div class="right">

    <div class="inner">
        <section>
        <h1 class="head">Education</h1>
        <div class="container d-flex" style="padding-top: 10px;">
        <h5>B.Tech</h5>
        <p>(2018-2022)<br>
        Computer Science<br>
        Viswajyothi college of engineering and technology<br>
        CGPA : 8.3/10
        <p>
        </div>
        <div class="container d-flex" style="padding-top: 10px;">
            <h5>12th</h5>
        <p>(2017-2018)<br>
        Computer Science<br>
        Mar Basil HSS, Kothamangalam<br>
        Percentage : 88%
        <p>
        </div>
            <div class="container d-flex" style="padding-top: 10px;">
            <h5>10th</h5>
            <p>(2015-2016)<br>
            Science<br>
            St.Augustine's GHSS, Kothamangalam<br>
            Percentage : 98%
            <p>
            </div>
        <h1>Technical Skills</h1>
        <ul class="skill-set">
          <li>Web Development</li>
          <li>C#</li>
          <li>C</li>
          <li>C++</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>python</li>
          <li>UI Design</li>
          <li>java</li>
        </ul>
        <h1>Soft Skills</h1>
        <ul class="skill-set">
          <li>Communication</li>
          <li>Punctuality</li>
          <li>Leadership</li>
        </ul>
      </section>
      <section>
        <h1>Internship</h1>
        <p>Keltron REC(G210),Kalamassery, Ernakulam(07/2019)<br>
        15 days internship program on Machine Learning Fundamentals, Computer Vision Algorithm, OpenCV</p>
          </section>

          <section>
            <h1>Projects</h1>
            <h6>AGRO KART</h6>
            <p>Farmer stock trading application isspecially designed for farmers, sellers, and retailers. This application make end to end relationship
                between a farmer and retailer without a mediator to sell their goods.</p>

                <h6>BOOTCART</h6>
            <p>Online shopping cart for shoes where product masters can add their product and customers can buy it online.</p>
              </section>
      <section>
        <h1>Personal Interests</h1>
        <ul class="skill-set">
          <li>Singing</li>
          <li>Dancing</li>
          <li>Painting</li>
          <li>Photography</li>
        </ul>
      </section>
    
    </div>

  </div>

</div>